    <div class="main container-fluid">
      <h1 class="text-center align-middle">Welcome to nomad's portale</h1>
    </div>
    <div class="container-fluid">
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">Sign In with Linkedin</h4>
          <p class="card-text">If you signup for the first time your account will be created for you.</p>
          <a href="/auth/linkedin" class="btn btn-primary">Sign In</a>
        </div>
    </div>
    </div>
