{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Welcome to your profile page</h1>
    <p>Here you can edit your personal information</p><br>
    <div class="social">
      <form class="" action="/myProfile" method="post">
        <h2>I define myself as...</h2>
        <label for="">Partier</label><input id="partier" class="range" type="range" min="0" max="10" value="5">
        <label for="">Organized</label><input id="organized" class="range" type="range" min="0" max="10" value="5">
        <label for="">Athlete</label><input id="athlete" class="range" type="range" min="0" max="10" value="5">
        <label for="">Social</label><input id="social" class="range" type="range" min="0" max="10" value="5">
        <label for="">Geek</label><input id="geek" class="range" type="range" min="0" max="10" value="5">
        <label for="">Active</label><input id="active" class="range" type="range" min="0" max="10" value="5">
        <br>
        <button type="submit" name="button">Save</button>
      </form>
      <br><br>
    </div>
    <a href="/welcome" class="btn btn-default">go back to welcome</a>
    <hr><br>
    <a href="/logout" class="btn btn-default">logout</a>

  </div>

{% endblock %}
