
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Hello <%= user.firstname %>!</h1>
      <h1 class="display-3">Welcome to Nomad's Portal</h1>
      <p class="lead">Have fun exploring the world of digital nomads!</p>
    </div>
    <button type="button" class="btn btn-primary float-right"><a class="logout" href="/logout">Logout</a></button>
  </div>

    <div id="map"></div>

  <section class="filter-container">
    <div id="filter-box">
      <div class="first-filter">
        <p>Select a continent!</p>
        <select>
          <option value="">Africa</option>
          <option value="">Europe</option>
          <option value="">Asia</option>
          <option value="">North America</option>
          <option value="">South America</option>
          <option value="">Australia</option>
        </select>
      </div>
      <div class="second-filter">
        <p>Select your amenities!</p>
        <select>
          <option value="">Wifi</option>
          <option value="">Private Bedroom</option>
          <option value="">Activites</option>
          <option value="">Office only</option>
        </select>
      </div>
    </div>
    <section class="results">
      <div class="first-media">

      </div>
      <div class="second-media">

      </div>
      <div class="third-media">

      </div>
    </section>
  </section>



<script type="text/javascript">window.places = <%- JSON.stringify(places) %>;</script>
